body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    display: flex;
    gap: 30px;

}
.navigation-bar{
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    padding-left: 20px;
    background-color: black;
}
.containers{
    margin-top: 100px;
    margin-left: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 8px;
    height:70vh;
    width: 300px;
    padding: 30px
}
.items{
    padding: 20px;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#board-btn{
    border: none;
    border-radius: 5px;
    background-color: #0000FF;
    color: white;
    height: 40px;
    width: 100px;
    margin-top: 100px;
    
}

#board-btn:hover{
    background-color: #00FF00;
}

.button{
    border: none;
    border-radius: 5px;
    background-color: #0000FF;
    color: white;
    height: 40px;
    width: 100px;
    
}

.button:hover{
    background-color:#00FF00;
    color:black
}