body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    display: flex;
    gap: 30px;

}
.navigation-bar{
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    padding-left: 20px;
    background-color: black;
}

.containers{
    margin-top: 70px;
    margin-left: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 8px;
    height:70vh;
    width: 300px;
    padding: 30px
}
.task-container{
    height: 80%;
    background-color: black;
}
.items{
    display: flex;
    padding: 20px;
    width: 90%;
    height: 50px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#board-btn{
    border: none;
    border-radius: 5px;
    background-color: #0000FF;
    color: white;
    height: 40px;
    width: 100px;
    margin-top: 70px;
    
}

#board-btn:hover{
    background-color: #00FF00;
}

.button{
    border: none;
    border-radius: 5px;
    background-color: #0000FF;
    color: white;
    height: 40px;
    width: 100px;
    
}

.button:hover{
    background-color:#00FF00;
    color:black
}